body{
    font-family: Avenir;
    background-color: #F8F8F8;
    margin: 0px;
}

#content{
    margin: 0 auto;
    width: 1000px;
}

#header{
    background-color: #0d1934;    
}

#title-bar{
    width: auto;
    margin: 0 auto;
    padding: 40px 50px 40px 50px
}


@media only screen and (max-width: 1060px) {
    #content{
        width: 94%;
    }
    #title-bar{
        width: 94%;
    }
}

a{
    color: #1177cc;
}

hr{
    margin-top: 2.5em;
    margin-bottom: 2em;
}
